nemo_toolkit[asr]
fastapi
uvicorn
python-multipart
pydantic
torch
torchaudio
numpy
hydra-core
lightning
lhotse
einops
transformers
sentencepiece
pandas
jiwer
librosa
pyannote-audio
webdataset
datasets
editdistance
IPython
pydub
ffmpeg-python
soundfile
cuda-python
python-dotenv
omegaconf
scipy
